@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --cor-padrao-hover: #fff;
    --cor-padrao: #5d27b6;
}

/* Configurações principais */
body {
    font-family: 'Poppins', sans-serif;
}

/* Banner */
.banner {
    background: linear-gradient(var(--cor-padrao), var(--cor-padrao-hover));
    padding-bottom: 50px;
}

.banner .linha {
    margin-top: 70px;
}

/* Container personalizado */
.container {
    max-width: 1300px !important; /* Força o container para essa largura */
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}

/* Navbar */
.navbar {
    display: flex;
    align-items: center !important;
    padding: 20px;
    justify-content: space-between;
    padding: 10px 20px;
}

.logo img{
    width: 100px;
}

.nav {
    flex: 1;
    text-align: right;
}

nav ul {
    display: inline-block;
    list-style-type: none;
}

.navbar ul li {
    display: inline-block !important;
    margin-right: 20px !important;
    
}

.navbar ul li a {
    text-decoration: none !important;
    color: #fff !important;
    font-weight: 200px !important;
}

.container-login{
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 15px;
    padding-right: 15px;
}


/* Texto dentro do banner */
.banner p {
    color: #000;
}

/* Alinhamento de conteúdo em linhas e colunas */
.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}

.coluna-1 {
    flex-basis: 50%;
    min-width: 300px;
}

.coluna-1 img {
    max-width: 100%;
    padding: 50px 0;
}

.coluna-1 h1 {
    font-size: 50px;
    line-height: 60px;
    margin: 25px 0;
    color: #000;
}

.coluna-1 p {
    font-weight: 600;
    color: #000;
}

/* Botão do Banner*/
.btn {
    text-decoration: none;
    color: #fff;
    background: #000;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;
    transition: background 0.5s;
}

.btn:hover {
    background: #009e00;
    color: #fff;
}

/*----------------RODAPE---------------*/

.rodape{
    background: #000;
    color: #fff;
    padding-left: 60px 0 20px !important;
    font-size: 14px !important;
    margin-top: 100px;
}

.rodape p{
    color: #fff;
}

.rodape h3{
    color:#fff;
    margin-bottom: 20px;
}

.rodape-col-1,.rodape-col-2, .rodape-col-3{
    min-width: 250px;
    margin-bottom: 20px;
}

.rodape-col-1{
    flex-basis: 30%;
}

.app-logo{
    margin-top: 20px;
    cursor: pointer;
}

.app-logo img{
    width: 140px;
}

.rodape-col-2{
    flex: 1 !;
    text-align: center;
}

.rodape-col-2 img{
    width: 180px;
    margin-bottom: 20px;
}

.rodape-col-3{
    flex-basis: 12%;
    text-align: right;
}

ul{
    list-style-type: none;
}

.rodape hr{
    border: none;
    height: 1px;
    background: white;
    margin: 20px 0;
}

.direitos{
text-align: center;
margin-bottom: 0;
}


@media only screen and (max-width:600px) {
    .row{
        text-align: center;
    }

    .coluna-2, .coluna-3, .coluna-4{
        flex-basis: 100%;
    }

    .coluna-2 h1{
        font-size: 27px;
    }

    .rodape-col-3, .rodape-col-4{
        text-align: center;
    }

    .coluna-4 p{
        font-size: 24px;
    }

}